# telegram bot
BOT_TOKEN=
VID_MIN_LAST_SECONDS=30

# destination channel/group id list (optional, eg: -100123456789,@my_channel_2)
# will merge with forward-config.json 
DEST_CHANNEL=

# --- telegram developer API ---
API_ID=
API_HASH=

# local proxy
TELEGRAM_PROXY=